.cards {
  .contenedor-wind {
    display: flex;
    justify-content: space-evenly;
    width: 380px;
    height: 130px;
    border-radius: 15px;
    margin-top: 10px;
    border: solid 0.5px gray;
    margin: auto;
    margin-top: 20px;
background-color: white;
    .icon-time-div {
      display: flex;
      align-items: center;
      position: relative;
      right: 4px;
      img {
      }
    }
    .icon-time {
      color: #2052d1;
      font-size: 40px;
    }
    .wind-contenido {
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      p {
        font-family: Roboto;
      }
      h3 {
        color: #0f1827;
      }
    }
  }
  .contenedor-rainChance {
    display: flex;
    justify-content: space-evenly;
    width: 380px;
    height: 130px;
    border-radius: 15px;
    margin-top: 10px;
    border: solid 0.5px gray;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    .icon-time-div {
      display: flex;
      align-items: center;
      position: relative;
      right: 4px;
      img {
      }
    }
    .icon-time {
      color: #2052d1;
      font-size: 40px;
    }
    .rainChance-contenido {
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      p {
        font-family: Roboto;
      }
      h3 {
        color: #0f1827;
      }
    }
  }
  .contenedor-presion {
    display: flex;
    justify-content: space-evenly;
    width: 380px;
    height: 130px;
    border-radius: 15px;
    margin-top: 10px;
    border: solid 0.5px gray;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    .icon-time-div {
      display: flex;
      align-items: center;
      position: relative;
      right: 4px;

      img {
      }
    }
    .icon-time {
      color: #2052d1;
      font-size: 40px;
    }
    .presion-contenido {
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      h3 {
        color: #0f1827;
      }
      p {
        font-family: Roboto;
      }
    }
  }
  .coordenadas {
    display: flex;
    justify-content: space-evenly;
    width: 380px;
    height: 130px;
    border-radius: 15px;
    margin-top: 10px;
    border: solid 0.5px gray;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    .icon-time-div {
      display: flex;
      align-items: center;
      position: relative;
      right: 4px;

      img {
      }
    }
    .icon-time {
      color: #2052d1;
      font-size: 40px;
    }
    .coordenadas-contenido {
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      h3 {
        color: #0f1827;
      }
      p {
        font-family: Roboto;
        font-size: 1rem;
      }
    }
  }

  .puestaSalida-sol {
    display: flex;
    justify-content: space-evenly;
    width: 380px;
    height: 130px;
    border-radius: 15px;
    margin-top: 10px;
    border: solid 0.5px gray;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    .icon-time-div {
      display: flex;
      align-items: center;
      position: relative;
      right: 4px;

      img {
      }
    }
    .icon-time {
      color: #2052d1;
      font-size: 40px;
    }
    .puestaSalida-sol-contenido {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        color: #0f1827;
      }
      p {
        font-family: Roboto;
        font-size: 1rem;
      }
    }
  }

  .humedad-visibilidad {
    display: flex;
    justify-content: space-evenly;
    width: 380px;
    height: 130px;
    border-radius: 15px;
    margin-top: 10px;
    border: solid 0.5px gray;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    .icon-time-div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      right: 4px;

      img {
      }
    }
    .icon-time {
      color: #2052d1;
      font-size: 40px;
    }
    .humedad-visibilidad-contenido {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        color: #0f1827;
      }
      p {
        font-family: Roboto;
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 769px) {
  .cards {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}