.pageCentral {
  display: block;
  width: 100%;
  // background-color: #41BDEC;

  .interior {
    display: flex;
    justify-content: space-between;
    .interior-divv {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      margin-bottom: 2.5%;
    }
  }

  .contenedor-horaSemana{
    display: flex;
    width: 100%;
    .horaSemana{
      width: 50%;
      h4{

      }
      h2{
        text-align: center;
        font-weight: bolder;
        font-family: Roboto;
        color: white;
        background-color: black;
      }
    }
  }

}

@media (max-width: 999px){
  .pageCentral{
    width: 100% !important;
    position: relative; right: 140px;
  }
}

@media (min-width: 374px) and (max-width: 1024px) {
  .interior {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    .interior-divv {
      display: flex;
      flex-direction: column;
    }
  }
}
